{
    "extends":"vue",
    "rules": {
        "space-before-function-paren" : [0, "never"],
        "comma-dangle": [
        "error",
        "always-multiline"
        ],
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-unused-vars": [
            "warn"
        ],
        "no-console": 0
    },
    "globals": {
        "_": true,
        "Vue": true,
        "$router": true
    },
    "env" : {
        "browser": true
    }
}